body {
    margin: 0;
}

.text1 {
    margin: 10px 15px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-family; 'Kings Bureau Grot';
}

.img1 {
    max-width: max-content;
    margin: 0 15px;
}

.text-candy { 
    margin: 0 15px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'open sans';
}

.text2 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.img2 {
    border-radius: 50px;
    box-shadow: 20px;
    display: block;
    width: 500px;
    margin: 0 auto;
}
.text-left {
    text-align: right
}

.horiz-scroll {
    width: 1453px;
}